{% extends "layout.html" %}
{% block title %}Clip That Off{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index')}}">Clip That Off</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if not email %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}


          </ul>
        </div>
      </div>
    </nav>

    <div id="main_container">
      <div id="left_container">CENTER</div>
      <div id="right_container">
        <div id="main_grid">
                <div class="row">
                    <div class="cell cell_populated"><div class="cell_top populated">Dusty</div><div class="cell_bottom bottom_populated"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                </div><!--End first row-->
                 <div class="row">
                     <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                </div><!--End second row-->
                 <div class="row">
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                </div><!--End third row-->
                 <div class="row">
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                </div><!--End fourth row-->
                 <div class="row">
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                    <div class="cell"><div class="cell_top"></div><div class="cell_bottom"></div></div>
                </div><!--End fifth row-->
               </div><!--End main grid-->
      </div>
    </div>
{% endblock %}
