body {
  padding-top: 50px;
  background-color: #eee;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#navbar{
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;
}

.err-msg{
  color:red;
}
